.card {
	cursor:pointer;
	.card-header {
		background: white;
		background-size: cover;
		background-position:center;
		padding: 3rem 0 !important;
		.cover-wrapper {
			height: 7rem;
			position:relative;
			img {
				position:absolute;
				max-width: 100%;
				max-height: 100%;
				height:auto;
				width:auto;
				left: 50%;
			    top: 50%;
			    transform: translate3d(-50%,-50%,0);
			}
		}
	}
	.card-title {
		height:4.5rem;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -webkit-box-orient: vertical;
	}
	&.add-article {
		margin-top: 3.5rem;
		box-shadow: 0px 0px 30px 1px #ffffff;
    	background: rgba(255,255,255,.2);
		.add-article-icon {
			text-align:center;
			padding: 5.4rem 0 0 0;
			i {
				color: black;
				font-size: 6rem;
			}
		}
		.card-title {
			text-align:center;
		}
	}
}